/BasePawn.class
/Bishop.class
/King.class
/Knight.class
/Pawn.class
/PawnColors.class
/Queen.class
/Rook.class
/Bishop$1.class
/King$1.class
/Knight$1.class
/Pawn$1.class
/Queen$1.class
/Rook$1.class
